﻿@using DatabaseProject2.DatabaseModels
@model DatabaseProject2.DatabaseModels.Personel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Personel> personelList=(List<Personel>)ViewBag.personelList;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">AD</th>
            <th scope="col">SOYAD</th>
            <th scope="col">MAAŞ</th>
            <th scope="col">YAŞ</th>
            <th scope="col">DEPARTMAN</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Personel personel in personelList)
        {
        <tr>
            <th scope="row">@personel.id</th>
            <td>@personel.name</td>
            <td>@personel.surname</td>
            <td>@personel.salary</td>
            <td>@personel.age</td>
            <td>@personel.Departman.name</td>

            <td><a class=" btn btn-primary" href="/Personel/Edit/@personel.id">Güncelle</a></td>
            <td><a class=" btn btn-warning" href="/Personel/Delete/@personel.id">Sil</a></td>


        </tr>
        }
    </tbody>
</table>
<a class="btn btn-success"href="/Personel/Create/">Personel Ekle</a>



